.bg {
  background-color: #e6e6e6;
  padding-bottom: 100px;
  .header {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    .left {
      h3 {
        display: inline;
        color: #212529;
        font-size: 20px;
        span {
          color: #f53e32;
          font-size: 20px;
        }
      }
      h1 {
        color: #000000;
        width: 522.06px;
        font-size: 55px;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      p {
        font-size: 15px;
        color: #7a7a7a;
        padding-bottom: 30px;
        width: 408.04px;
      }
      input {
        outline: none;
        padding-left: 20px;
        width: 292.45px;
        height: 40px;
        border: 1px solid gray;
        border-radius: 15px;
      }
      button {
        background-color: #3bb77e;
        width: 157.55px;
        height: 45px;
        margin-left: -30px;
        border-radius: 50px;
        color: white;
        border: none;
      }
    }
    .right {
      .header__links {
        display: flex;
        align-items: center;
        gap: 30px;
        li {
          box-shadow: 5px 5px 15px 0px #0000000d;
          color: #3bb77e;
          padding: 10px;
          background-color: #ececec;
        }
      }
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 30px;
  padding-top: 100px;
  .card,
  .card2,
  .card3 {
    box-shadow: 0px 0px 0px grey;
    transition: box-shadow 0.6s ease-out;
    box-shadow: 0.8px 0.9px 3px grey;
    &:hover {
      box-shadow: 1px 8px 20px grey;
      transition: box-shadow 0.6s ease-in;
    }
    padding-bottom: 30px;
    h1 {
      padding-top: 60px;
      padding-bottom: 10px;
      color: #253d4e;
      font-size: 24px;
      width: 253.12px;
      padding-left: 20px;
    }
    button {
      background-color: #f53e32;
      border: none;
      border-radius: 4px;
      width: 103.61px;
      height: 31.59px;
      color: #ffffff;
      font-size: 12px;
      margin-left: 20px;
    }
  }
}
.card {
  width: 100%;
  background-image: url("../images/card1.png");
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
}
.card2 {
  background-image: url("../images/card2.png");
  width: 100%;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    padding-bottom: 40px !important;
  }
}
.card3 {
  background-image: url("../images/card3.png");
  width: 100%;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    padding-bottom: 40px !important;
  }
}
.products {
  padding-top: 150px;
  h1 {
    color: #253d4e;
    font-size: #253d4e;
    line-height: 38.4px;
    padding-bottom: 30px;
  }
  .btn3 {
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: red;
    color: #ddd;
    font-size: 20px;
    margin-left: 500px;
    margin-top: 30px;
    transition: 0.5s;
    cursor: pointer;
    &:hover {
      background-color: aqua;
      color: #000;
    }
  }
}
.product__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;

  .product__card {
    box-shadow: 0px 0px 0px grey;
    transition: box-shadow 0.6s ease-out;
    box-shadow: 0.8px 0.9px 3px grey;
    width: 280px;
    padding: 14px;
    border: 1px solid #ddd;
    &:hover {
      box-shadow: 1px 8px 20px grey;
      transition: box-shadow 0.6s ease-in;
    }
    h2 {
      font-size: 15px;
      color: #2b2b2d;
      line-height: 24px;
      letter-spacing: 0.48px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .buy {
      display: flex;
      justify-content: space-between;
      h3 {
        color: #3bb77e;
        font-size: 18px;
        line-height: 24px;
      }
      button {
        width: 100px;
        padding: 5px;
        border: 1px solid gray;
        background-color: red;
        color: #ddd;
        cursor: pointer;
        border-radius: 20px;
      }
    }

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
  }
}

.loader {
  width: 45px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#000 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 100%;
  animation: l1 1s infinite linear;
  margin: 150px auto;
}
@keyframes l1 {
  0% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
  33% {
    background-size: 20% 10%, 20% 100%, 20% 100%;
  }
  50% {
    background-size: 20% 100%, 20% 10%, 20% 100%;
  }
  66% {
    background-size: 20% 100%, 20% 100%, 20% 10%;
  }
  100% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
}

.collection {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px;
  padding-bottom: 30px;

  li {
    border: 1px solid gray;
    padding: 10px;
    cursor: pointer;
  }
}
